body{
    background-image: url("https://t3.ftcdn.net/jpg/02/66/43/24/360_F_266432466_cES81ryd1SVxIL5HrO6J7r7JMqiIgCg8.jpg");
background-position: center;
background-size: cover;
text-align: center;
}

